html {
    height: 100%;
    width: 100%;
}

.root {
    display: flex;
    height: 326px;
    width: 500px;
}

.photo {
    height: 100%;
    width: 40%;
    border-right: 1px solid white;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}

.content-wrapper {
    display: block;
    height: 100%;
    width: 60%;
}

.name {
    height: 163px;
    width: auto;
    background-color: rgb(6, 6, 20);
    border-bottom: 2px solid white;
    border-top-right-radius: 10px;
    padding-left: 15px;
}

.first-name {
    padding-top: 35px;
    font-size: 20px;
}
.surname {
    font-size: 22px;
    padding-bottom: 15px;
}

.position {
    font-size: 20px;
    color: rgb(57, 115, 172);
    padding-bottom: 30px;
}

.upper-cased {
    text-transform: uppercase;
}

.color-white {
    color: white;
}

.photo {
    height: 100%;
    width: 40%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 161px;
    width: auto;
    background-color: rgb(39, 56, 66);
    border-bottom-right-radius: 10px;
    padding-left: 15px;
}

.address {
    width: auto;
    display: flex;
    font-size: 120%;
}

.contact-text {
    width: 100%;
    margin-left: 15px;
    font-size: 14px;
    border-bottom: 1px white solid;
}
.icon-details {
    color: rgb(57, 115, 172);
}